.sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.header-divider {
    margin: 0;
    border: none;
    height: 2px;
    background-color: black;
}
.navbar-brand img {
    margin-right: 10px;
}
.nav-link {
    display: flex;
    align-items: center;
}
.nav-link i {
    margin-right: 5px;
}
.active {
    font-weight: bold;
}